/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.form-check-label {
    font-size: 1.2em;
    font-weight: bolder;
}

#ponistiDugme {
    cursor: pointer;
}

#ponistiDugme:hover {
    text-decoration: underline;
}

#name:focus, #description:focus, #ean:focus, #name:active, #description:active, #ean:active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
.upload-image-button input {
    display: none;
}
.upload-image-button {
    width: 5em;
    height: 5em;
    border: 1px solid #ced4da;
    display: block;
    cursor: pointer;
}
.upload-image-button:hover {
    border-color: #007bff;
}

.form-check {
    padding-left: 0;
}
/* Customize the label (the container) */
.form-check-label {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form-check-label-da-ne {
    padding-left: 0em;
    padding-bottom: 2em;
}
/* Hide the browser's default radio button */
.form-check-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}
.checkmark-da-ne {
    bottom: 0;
    top: auto;
}

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form-check-label input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-check-label .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}