@{
    ViewData["Title"] = "Home Page";
}

<ul class="nav nav-tabs border-0 mt-4">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#add">Dodavanje proizvoda <span class="small"><i class='fas fa-plus-circle'></i></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#edit">Izmena proizvoda <span class="small"><i class='fas fa-edit'></i></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Statistika <span class="small"><i class='fas fa-chart-bar'></i></span></a>
    </li>
    <li class="nav-item ml-auto">
        <a class="nav-link border-0"  href="#">Odjava <span class="small"><i class='fas fa-sign-out-alt'></i></span></a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content bg-white">
    <div class="tab-pane container fade active show p-0" id="add">
        <div class="container px-3 pb-3 pt-1 border rounded-bottom rounded-right">

            <div class="container-fluid px-0 pb-2">
                <p class="small text-right text-muted">Aleksa Ristic</p>
            </div>

            <form class="" action="" method="post" name="form">

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <input class="form-control border-top-0 border-right-0 border-left-0 rounded-0" type="text" id="name" name="name" value="" required style="font-size: 2em;" placeholder="Unesi ime proizvoda...">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control border-0 rounded-0" name="description" id="description" rows="8" style="max-width: 100%; overflow:auto; resize:none;" required placeholder="Unesi opis proizvoda..."></textarea>
                        </div>
                        <div class="input-group mb-3 text-monospace">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white border-top-0 border-right-0 border-left-0 rounded-0 font-weight-bolder">EAN:</span>
                            </div>
                            <input type="text" class="form-control border-top-0 border-right-0 border-left-0 rounded-0" id="ean" name="ean" value="" placeholder="0 000000 000000" required>
                        </div>
                    </div>

                    <div class="col small">
                        <div class="form-group">
                            <label for="selectCategoryID">Kategorija:</label><br>
                            <select class="form-control form-control-sm" name="CategoryID" required id="selectCategoryID">
                                <option value="">Odaberi kategoriju...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectBrandID">Brend:</label><br>
                            <select class="form-control form-control-sm" name="BrandID" required id="selectBrandID">
                                <option value="">Odaberi brend...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="price">Cena:</label><br>
                            <input class="form-control form-control-sm" type="number" id="price" name="price" value="" min="0" required>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Količina:</label><br>
                            <input class="form-control form-control-sm" type="number" id="quantity" name="quantity" value="0" min="0" required>
                        </div>
                    </div>

                    <div class="col small border-left">
                        <fieldset id="flag" class="mb-3">
                            <div class="form-check">
                                <label class="form-check-label text-danger" for="discount">
                                    <input type="radio" class="form-check-input" id="discount" name="flag" value="discount" onchange="toggleDiscount()">Sniženo
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <div class="border border-danger rounded-lg p-3 mt-2 mb-3" id="discountDiv" style="display: none;">
                                <div class="form-group">
                                    <label for="discountAmount" class="text-danger">Unesi sniženje: <span class="badge badge-danger badge-pill">%</span></label><br>
                                    <input class="form-control form-control-sm" type="number" id="discountAmount" name="discountAmount" value="0" min="0">
                                </div>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label text-warning" for="new">
                                    <input type="radio" class="form-check-input" id="new" name="flag" value="new" onchange="toggleDiscount()">Novo
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label text-primary" for="popular">
                                    <input type="radio" class="form-check-input" id="popular" name="flag" value="popular" onchange="toggleDiscount()">Popularno
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </fieldset>
                        <p onclick="ponisti()" id="ponistiDugme" class="small">Poništi odabrano</p>

                        <div class="form-check">
                            <label class="form-check-label" for="pinned">
                                <input type="checkbox" class="form-check-input" id="pinned" name="pinned" value="pinned">Pinuj
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container-fluid mt-1 p-0 small" id="propertiesDiv" style="display:none;">
                </div>

                <div class="container-fluid mt-1 p-0 small" id="imagesDiv">
                    <p class="h3 text-dark mb-3 border-bottom pb-2">Slike:</p>
                    <label class="upload-image-button text-center text-secondary pt-2">
                        <input type="file" />
                        <span class="small"><i class='fas fa-plus'></i></span><br />
                        <span class="small">Dodaj sliku</span>
                    </label>
                </div>

                <div class="container-fluid text-right p-0">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-outline-secondary" name="cancel"><i class="far fa-times-circle"></i> Odustani</button>
                        <button type="submit" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" name=""><i class="far fa-check-circle"></i><span class="caret"></span> Sačuvaj</button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Sačuvaj nacrt</a>
                            <a href="#" class="dropdown-item">Sačuvaj u bazi</a>
                            <a href="#" class="dropdown-item">Sačuvaj i objavi</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane container fade" id="edit">...</div>
    <div class="tab-pane container fade" id="menu2">...</div>
</div>

<div id="div1"></div>

<script type="text/javascript">

    var discountRadio = document.getElementById("discount");

    function toggleDiscount() {
        if (discountRadio.checked == true) {
            document.getElementById("discountDiv").style.display = "block";
        } else {
            document.getElementById("discountDiv").style.display = "none";
            document.getElementById("discountAmount").value = 0;
        }
    }

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: 'Home/LoadCategories',
            success: function (result) {
                $.each($.parseJSON(result), function (i, val) {
                    /*$.each(val, function (j, obj) {
                        $("#div1").append(obj[1] + "<br>");
                    });*/
                    $("#selectCategoryID").append("<option value='" + val["categoryID"] + "'>" + val["categoryName"] + "</option>");
                });
            }
        });

        $.ajax({
            type: 'GET',
            url: 'Home/LoadBrands',
            success: function (result) {
                $.each($.parseJSON(result), function (i, val) {
                    $("#selectBrandID").append("<option value='" + val["id"] + "'>" + val["name"] + "</option>");
                });
            }
        });

        $("#selectCategoryID").change(function () {
            $("#div1").html('');
            if (this.value == "") {
                $("#propertiesDiv").html("");
            } else {
                $("#propertiesDiv").html('<p class="h3 text-dark mb-3 border-bottom pb-2">Specifikacije:</p>');
            }
            $("#propertiesDiv").css({ display: "none" });
            //$("#selectCategoryID option:selected").click(function () {
            $.ajax({
                type: 'GET',
                url: 'Home/LoadProperties/'/* + this.value*/,
                data: { 'categoryID': this.value },
                success: function (result) {
                    //alert(result);
                    $.each(result, function (i, val) {
                        $("#propertiesDiv").append("<div class='container-fluid py-1 mt-3'><p class='h5 text-primary m-0'>" + val['propertyGroupModel']['alias'] + "</p></div><br><div class='row px-3' id='" + val['propertyGroupModel']['name'] + "'></div>");

                        var param = val['propertyGroupModel']['name'];

                        $.each(val["propertyList"], function (i, val) {
                            if (val["values"].length > 1) {
                                if (val["values"].length == 2) {
                                    var ne = false;
                                    var da = false;
                                    $.each(val["values"], function (i, propertyValue) {
                                        if (propertyValue["value"] == 'Da') {
                                            da = true;
                                        }
                                        if (propertyValue["value"] == 'Ne') {
                                            ne = true;
                                        }
                                    });
                                    if (da == true && ne == true) {
                                        $("#" + param).append("<div class='col-md-4 col-lg-2'><div class='form-group'><label class='form-check-label form-check-label-da-ne font-weight-normal'><input type='checkbox' class='form-check-input' id='" + val["propertyID"] + "' name='' value='Da'>" + val['value'] + ":<span class='checkmark checkmark-da-ne'></span></label></div></div>");
                                    } else {
                                        $("#" + param).append("<div class='col-md-4 col-lg-2'><div class='form-group'><label>" + val['value'] + ":</label><select class='form-control form-control-sm' name='" + val["value"] + "' id='" + val["propertyID"] + "' required><option value=''>Odaberi " + val["value"] + "</option></select></div></div>");
                                        $.each(val["values"], function (i, propertyValue) {
                                            $("#" + val['propertyID']).append("<option value='" + propertyValue["id"] + "'>" + propertyValue["value"] + "</option>");
                                        });
                                    }
                                } else {
                                    $("#" + param).append("<div class='col-md-4 col-lg-2'><div class='form-group'><label>" + val['value'] + ":</label><select class='form-control form-control-sm' name='" + val["value"] + "' id='" + val["propertyID"] + "' required><option value=''>Odaberi " + val["value"] + "</option></select></div></div>");
                                    $.each(val["values"], function (i, propertyValue) {
                                        $("#" + val['propertyID']).append("<option value='" + propertyValue["id"] + "'>" + propertyValue["value"] + "</option>");
                                    });
                                }
                            } else {
                                $("#" + param).append("<div class='col-md-4 col-lg-2'><div class='form-group'><label>" + val["value"] + ":</label><input type='text' class='form-control form-control-sm'></input></div></div>");
                            }
                        }, param);
                    });
                    $("#propertiesDiv").fadeIn(500);
                }
            });
            //});
        });

        //$.ajax({
        //    type: 'GET',
        //    url: 'Home/LoadProperties/' + this.value,
        //    success: function (result) {
        //        //alert($.parseJSON(result));
        //        $.each($.parseJSON(result), function (i, val) {
        //            $("#div1").append(val["name"] + "<br>");
        //        });
        //    }
        //});
    });

    function ponisti() {
        document.getElementById("discount").checked = false;
        document.getElementById("new").checked = false;
        document.getElementById("popular").checked = false;
        document.getElementById("discountDiv").style.display = "none";
        document.getElementById("discountAmount").value = 0;
    }
</script>